ion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.decoration {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    fill: rgb(238, 243, 255);
    color: rgb(238, 243, 255);
    background-color: var(--page-background);
    shape-rendering: geometricprecision;
    height: 120px;
    width: 100%;
}

.welcome {
    h1 {
        font-size: 2rem;
    }
}