<ion-header>
  <ion-toolbar>
    <ion-title>{{ "MY_PROFILE" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="'BACK' | translate"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/help']">
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed *ngIf="vendor as item">
    <div class="languages ion-text-center">
      <img
        src="./assets/images/flags/united-kingdom.svg"
        alt="English"
        (click)="setLanguage('en')"
      />
      <img
        src="./assets/images/flags/lithuania.svg"
        alt="Lietuvių"
        (click)="setLanguage('lt')"
      />
      <img
        src="./assets/images/flags/latvia.svg"
        alt="Latviešu"
        (click)="setLanguage('lv')"
      />
    </div>

    <ion-card class="ion-margin-vertical" *ngIf="!item.stripe_id">
      <p class="ion-padding">{{"RECOMMEND_STRIPE" | translate}}</p>
      <ion-button
        size="medium"
        expand="block"
        shape="round"
        color="success"
        class="ion-margin-bottom"
        mode="ios"
        [href]="formatStripeConnectLink()"
      >
        {{"CONNECT_WITH" | translate}}
        <img
          class="stripe-logo"
          src="./assets/images/stripe/stripe-white.png"
          alt=""
        />
      </ion-button>
    </ion-card>

    <ion-row>
      <ion-col size="12">
        <ion-img [src]="item.image"></ion-img>

        <h1>{{item.title}}</h1>
        <p>{{item.description}}</p>

        <h4>{{item.company}}</h4>
        <p>
          <small>
            {{item.regno}} <br />
            {{item.bank}}
          </small>
          <br />
          {{item.address}}
          <br />{{item.city ? item.city + "," : ""}} {{item.country |
          translate}}
          <br />
          <a [href]="'mailto:' + item.email">{{item.email}}</a> <br />
          <a [href]="'tel:' + item.phone">{{item.phone}}</a>
        </p>
      </ion-col>

      <ion-col *ngIf="item.delivery">
        <h5>{{"DELIVERY" | translate}}</h5>
        <p>
          {{"DELIVERY_COSTS" | translate}}: {{item.delivery_costs}}
          <br />
          {{"DELIVERY_NOTE" | translate}}: {{ item.delivery_note}}
        </p>
      </ion-col>
    </ion-row>

    <ion-button
      [href]="formatStripeLoginLink()"
      color="success"
      expand="block"
      shape="round"
    >
      <ion-icon slot="start" name="shield-checkmark"></ion-icon>
      <img src="./assets/images/stripe/stripe-white.png" class="stripe-logo" />
    </ion-button>

    <ion-button [routerLink]="'edit'" expand="block" shape="round">
      {{ "EDIT" | translate }}
    </ion-button>

    <ion-button (click)="logout()" expand="block" shape="round" color="warning">
      {{ "LOG_OUT" | translate }}
    </ion-button>
  </ion-grid>
</ion-content>
