<ion-header>
  <ion-toolbar>
    <ion-title>{{ "MY_PROFILE" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="'BACK' | translate"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed *ngIf="vendor|async as item">
    <div class="languages ion-text-center">
      <img
        src="./assets/images/flags/united-kingdom.svg"
        alt="English"
        (click)="setLanguage('en')"
      />
      <img
        src="./assets/images/flags/lithuania.svg"
        alt="Lietuvių"
        (click)="setLanguage('lt')"
      />
      <img
        src="./assets/images/flags/latvia.svg"
        alt="Latviešu"
        (click)="setLanguage('lv')"
      />
    </div>
    <ion-row>
      <ion-col size="12">
        <ion-img [src]="item.image"></ion-img>

        <h1>{{item.title}}</h1>
        <p>{{item.description}}</p>

        <h4>{{item.company}}</h4>
        <p>
          <small>
            {{item.regno}} <br />
            {{item.bank}}
          </small>
          <br />
          {{item.address}}
          <br />{{item.city ? item.city + "," : ""}} {{item.country |
          translate}}
          <br />
          <a [href]="'mailto:' + item.email">{{item.email}}</a> <br />
          <a [href]="'tel:' + item.phone">{{item.phone}}</a>
        </p>
      </ion-col>

      <ion-col *ngIf="item.delivery">
        <h5>{{"DELIVERY" | translate}}</h5>
        <p>
          {{"DELIVERY_COSTS" | translate}}: {{item.delivery_costs}}
          <br />
          {{"DELIVERY_NOTE" | translate}}: {{ item.delivery_note}}
        </p>
      </ion-col>
    </ion-row>

    <ion-button [routerLink]="'edit'" expand="block" shape="round">
      {{ "EDIT" | translate }}
    </ion-button>

    <ion-button (click)="logout()" expand="block" shape="round" color="warning">
      {{ "LOG_OUT" | translate }}
    </ion-button>

    <small>v. 1.0.0</small>
  </ion-grid>
</ion-content>
