ion-card,
ion-row {
    width: 100%;
}

ion-img {
    margin-bottom: 10px;
}

ion-card-title {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

ion-chip {
    margin: 0 0 0 auto;
}

.inactive {
    opacity: 0.3;
}

h5 {
    margin: 0;
}

ion-item-options {
    border: none;
}

.list-true {
    ion-img {
        width: 100px;
        float: left;
        margin: 0 10px 0 0;
    }

    ion-card {
        margin: 10px 15px;
    }
}