ion-card,
ion-row {
    width: 100%;
}

ion-img {
    margin-bottom: 10px;
}

.title {
    font-size: 1.1rem;
}

.details {
    display: flex;
    align-items: center;

    ion-badge {
        margin-right: 5px;
    }
}

ion-chip {
    margin: 0 0 0 auto;
}

.inactive {
    opacity: 0.3;
}

h5 {
    margin: 0;
}

ion-item-options {
    border: none;
}

.list-true {
    ion-img {
        width: 100px;
        float: left;
        margin: 0 10px 0 0;
    }

    ion-card {
        margin: 0 0 10px 0;
        border: 1px solid var(--ion-color-light);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px;
    }

    ion-card-content {
        padding-top: 10px;
    }

    @media (max-width: 1024px) {
        ion-card-content {
            clear: both;
        }
    }

}