<ion-header>
  <ion-toolbar>
    <ion-title>{{ "MY_ORDERS" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="'BACK' | translate"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-list-header *ngIf="!viewingAll">
      <ion-label>{{ "ACTIVE_ORDERS" | translate }}</ion-label>
      <ion-button (click)="viewingAll = !viewingAll"
        >{{ "SEE_COMPLETED" | translate }}</ion-button
      >
    </ion-list-header>

    <ion-list-header *ngIf="viewingAll">
      <ion-label>{{ "ALL_ORDERS" | translate }}</ion-label>
      <ion-button (click)="viewingAll = !viewingAll"
        >{{ "SEE_ACTIVE" | translate }}</ion-button
      >
    </ion-list-header>

    <ion-item *ngFor="let order of (orders | async) | filter:viewingAll">
      <ion-item-sliding>
        <ion-item class="order" (click)="viewOrder(order)">
          <div>
            <small>{{order.date | date }} </small>
            <h1>{{order.orderId}}</h1>
            <ion-chip color="primary" slot="start">
              <ion-label>{{ order.sum | currency }}</ion-label>
            </ion-chip>

            <ion-badge *ngIf="order.delivery" color="secondary"
              >{{ "DELIVERY" | translate }}
            </ion-badge>
            <p>
              {{order.buyer.firstName + " " + order.buyer.lastName}} <br />
              <a [href]="'mailto:' + order.buyer.email"
                >{{order.buyer.email}}</a
              >
              <br />
              <a [href]="'tel:' + order.buyer.phone">{{order.buyer.phone}}</a>
            </p>
          </div>
          <ion-badge slot="end" [class]="'status status-' + order.status"
            >{{ order.status | translate }}</ion-badge
          >
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option
            type="button"
            (click)="completeOrder(order.id)"
            *ngIf="order.status == 'Confirmed'"
          >
            <ion-label>
              <ion-text color="success"
                >{{ "COMPLETE" | translate }}</ion-text
              ></ion-label
            >
            <ion-icon
              color="success"
              size="large"
              name="checkmark-done-circle"
              slot="start"
            ></ion-icon>
          </ion-item-option>
          <!-- <ion-item-option
            (click)="updateOrder(order.id, 'Confirmed')"
            *ngIf="order.status == 'New'"
          >
            <ion-label>
              <ion-text color="primary"
                >{{ "CONFIRM" | translate }}</ion-text
              ></ion-label
            >
            <ion-icon
              color="primary"
              size="large"
              name="checkmark-circle"
              slot="start"
            ></ion-icon>
          </ion-item-option> -->
        </ion-item-options>

        <!-- <ion-item-options side="end">
          <ion-item-option
            type="button"
            (click)="updateOrder(order.id, 'Rejected')"
          >
            <ion-label>
              <ion-text color="danger"
                >{{ "REJECT" | translate }}</ion-text
              ></ion-label
            >
            <ion-icon
              color="danger"
              size="large"
              name="close"
              slot="start"
            ></ion-icon>
          </ion-item-option>
        </ion-item-options> -->
      </ion-item-sliding>
    </ion-item>
  </ion-list>

  <!-- <ion-item-group>
      <ion-item-divider>
        <ion-label>
          {{ order.status | translate}}
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>
          {{order | json }}
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list> -->

  <!-- <ion-item-divider *virtualHeader="let header">
      {{ header }}
    </ion-item-divider>

    <ion-item >
      Item: {{ order | json }}
    </ion-item> -->

  <!-- 
    <ion-card *virtualItem="let order; let itemBounds = bounds;">
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ item.content }}</ion-card-content>
    </ion-card> -->

  <!--   
  <ion-list>
    <ion-item-sliding *ngFor="let order of orders | async">
      <ion-item-options side="start" slot="icon-only">
        <ion-item-option slot="icon-only"
          ><ion-icon
            color="primary"
            [name]="item.published ? 'eye-off' : 'eye'"
            size="large"
            (click)="publishListing(item, !item.published)"
          ></ion-icon
        ></ion-item-option>
      </ion-item-options>

      <ion-item lines="none">
        <ion-card [class]="item.published ? 'active' : 'inactive'">
          <ion-card-header class="ion-no-padding">
            <ion-img
              *ngIf="item.image"
              [src]="item.image"
              [alt]="item.title"
            ></ion-img>
            <div class="ion-padding">
              <ion-card-subtitle> {{ item.date | date }}</ion-card-subtitle>
              <ion-card-title
                >{{ item.title }}
                <ion-chip outline="true">{{item.price | currency }}</ion-chip>
              </ion-card-title>
            </div>
          </ion-card-header>
          <ion-card-content>
            {{ item.description }}
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option slot="icon-only"
          ><ion-icon
            color="danger"
            name="trash"
            size="large"
            (click)="deleteListing(item)"
          ></ion-icon
        ></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
</ion-content>
