<ion-header>
  <ion-toolbar>
    <ion-title>{{ "EDIT_PROFILE" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="app/profile"
        [text]="'BACK' | translate"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="editForm">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating" class="required"
          >{{ "TITLE" | translate }}</ion-label
        >
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"
          >{{ "DESCRIPTION" | translate }}</ion-label
        >
        <ion-input
          type="text"
          formControlName="description"
          maxlength="300"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" class="required"
          >{{ "CITY" | translate }}</ion-label
        >
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="required"
          >{{ "ADDRESS" | translate }}</ion-label
        >
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" class="required"
          >{{ "PHONE" | translate }}</ion-label
        >
        <ion-input type="text" formControlName="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ "COMPANY" | translate }}</ion-label>
        <ion-input type="text" formControlName="company"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"
          >{{ "BANK_ACCOUNT" | translate }}</ion-label
        >
        <ion-input type="text" formControlName="bank"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >{{ "REGISTRATION_NO" | translate }}</ion-label
        >
        <ion-input type="text" formControlName="regno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ "DELIVERY" | translate}}</ion-label>
        <ion-checkbox formControlName="delivery"></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="editForm.value.delivery">
        <ion-label position="floating"
          >{{ "DELIVERY_COSTS" | translate }}</ion-label
        >
        <ion-input
          type="number"
          [placeholder]="'DELIVERY_COSTS_PLACEHOLDER' | translate"
          formControlName="delivery_costs"
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="editForm.value.delivery">
        <ion-label position="floating"
          >{{ "DELIVERY_NOTE" | translate }}
        </ion-label>
        <ion-input
          type="text"
          [placeholder]="'DELIVERY_NOTE_PLACEHOLDER' | translate"
          formControlName="delivery_note"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">{{ "LOGO" | translate }}</ion-label>
        <input type="file" (change)="selectImage($event)" accept="image/*" />
      </ion-item>
    </ion-list>

    <ion-row>
      <!-- <ion-col size="7">
        <ion-button (click)="findPlace()" expand="block" color="secondary">
          <ion-icon slot="start" name="location"></ion-icon>
          {{ "FIND_MY_SHOP" | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button (click)="geolocate()" expand="block" color="secondary">
          <ion-icon slot="start" name="locate"></ion-icon>
          {{ "GEOLOCATE" | translate }}
        </ion-button>
      </ion-col> -->
      <ion-col size="12">
        <google-map
          [options]="mapOptions"
          width="100%"
          height="100%"
          id="google-map-edit"
          (idle)="resizeMap()"
        ></google-map>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="save()"
          type="submit"
          expand="block"
          shape="round"
          [disabled]="!editForm.valid"
          >{{ "SAVE" | translate }}</ion-button
        ></ion-col
      >
    </ion-row>
  </ion-toolbar>
</ion-footer>
