<ion-header>
  <ion-toolbar>
    <ion-title>{{ "EDIT_PROFILE" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="app/profile"
        [text]="'BACK' | translate"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="editForm" (ngSubmit)="save()">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">{{ "CITY" | translate }}</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ "ADDRESS" | translate }}</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ "COMPANY" | translate }}</ion-label>
        <ion-input type="text" formControlName="company"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >{{ "DESCRIPTION" | translate }}</ion-label
        >
        <ion-input type="text" formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ "PHONE" | translate }}</ion-label>
        <ion-input type="text" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >{{ "BANK_ACCOUNT" | translate }}</ion-label
        >
        <ion-input type="text" formControlName="bank"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >{{ "REGISTRATION_NO" | translate }}</ion-label
        >
        <ion-input type="text" formControlName="regno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">{{ "LOGO" | translate }}</ion-label>
        <input type="file" (change)="selectImage($event)" accept="image/*" />
      </ion-item>
    </ion-list>

    <ion-row class="ion-margin-vertical">
      <ion-col>
        <ion-button
          type="submit"
          expand="block"
          shape="round"
          [disabled]="!editForm.valid"
          >{{ "SAVE" | translate }}</ion-button
        ></ion-col
      >
    </ion-row>
  </form>
</ion-content>
