/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// img {
//   width: auto;
// }

ion-img {
  max-width: 500px;
  max-height: 500px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ion-title,
ion-card-title {
  font-family: var(--ion-font-family-headings);
  font-weight: 900;
}

.logo {
  width: 150px;
  display: inline-block;
}

.title {
  text-align: center;
}

.description {
  margin-bottom: 0;
}

.file-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.required::after {
  content: " *";
}

ion-item-options {
  border: none;
}

ion-item-option {
  background: transparent;
}

.alert-button {
  &.danger {
    color: var(--ion-color-danger);
  }

  &.secondary {
    color: var(--ion-color-secondary);
  }

  &.success {
    color: var(--ion-color-success);
  }
}

.languages {
  img {
    width: 30px;
    margin: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent !important;
}

google-map * {
  visibility: visible !important;
}
